body {  
    
    /* 1. transform 이용한 방법 */
    /* position : absolute; */
    /* top : 280px;
    left: 50%;  */
    /* transform: translate(-50%,-50%); */

    /* 2. flexbox 사용 */
    margin-top : 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    display:block;
    width : 350px;
    margin-left: 150px;
    /* 더 밑으로 붙이면 이미지 여백 때문에 검색창의 선이 짤려버림 */
    margin-bottom: -25px;
}

#searchbar {
    margin: 30px;
    display:block;
    width: 600px;
    height: 40px;
    border: 1px solid #c8c8c8;
    border-radius : 40px;

    /* icon 은 작동이 안 되어 주석 처리 했습니다 */
    /* background : url("search.webp") no-repeat 7px 7px scroll; */
    
}

#middleButtons {
    margin-left: 200px;
    display:block;
}

.button {
    padding : 10px;
    padding-left : 20px;
    padding-right : 20px;
    height : 40px;
    border: 0px;
    border-radius : 4px;
}

#searchbar:hover {
    box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
    border: 1px solid gray;
    border-radius : 4px;
}



