#wrapper {  
    /* margin-top: 50vh; */
    text-align: center;
}

.arrows {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 25%;
}

#imageBox {
    display: inline-block;
    width: 50%;
    height: 50%;
}

.dot {
    height: 10px;
    width: 10px;
    margin : 0 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

.selectedDot {
    background-color: black;
}
